
some test stuff here
{% for a in sum_votes_by_office %}
    <hr>
    <b>{{  a.election__office__office  }}: {{ a.vote_count__sum }}</b> <br>

    {% for b in sum_votes_by_candidate %}

        {% if a.election__office__office == b.election__office__office  %}

            {{ b.candidate__person__first_name }} {{ b.candidate__person__last_name }} {{ b.candidate__party }}: {{ b.total_votes }}
            <br>
{% endif %}

    {% endfor %}

    {% endfor %}
<br>


 =======================


<h3>At large seats: Republican</h3>
{{ sum_votes_by_candidate_atlarge_reps }}<br>
{% for w in sum_votes_by_candidate_atlarge_reps %}
** {{ w.candidate__person__first_name }} {{ w.candidate__person__last_name }}: {{ w.total_votes }} <br>
{% endfor %}

=================

<h3>At large seats: Democrat</h3>
{{ sum_votes_by_candidate_atlarge_dems }}<br>
{% for w in sum_votes_by_candidate_atlarge_dems %}
** {{ w.candidate__person__first_name }} {{ w.candidate__person__last_name }}: {{ w.total_votes }} <br>
{% endfor %}

=============

<h3>At large seats: Other Parties</h3>
